{% extends 'mylogbook/boilerplate2.html' %}

{% block menu %}


              
{% endblock %}

{% block content %}
MyLogbook is a digital cloud based pilot log book.  The solution uses Django, Python, HTML5, CSS, MariaDB and AWS.  It utilises Python libraries: bootstrap4.5, django-tables2 and matlibplot.
<p>
The purpose of learning Django was to provide a canvas for business intelligence and analytics around the flight dataset provided by the logbook.   It was built primarily in order to learn new technologies but it also is available on GitHub here :
<p>
<a href="https://github.com/davidmtod/my-flight-log">my-flight-log</a> 
<p>
<img src="data:image/png;base64,{{ data }}" alt="" height="300", width="300">
<img src="data:image/png;base64,{{ data2 }}" alt="" height="300", width="300">
<img src="data:image/png;base64,{{ data3 }}" alt="" height="300", width="300">
<br>
<img src="data:image/png;base64,{{ data4 }}" alt="" height="300", width="300">
<img src="data:image/png;base64,{{ data5 }}" alt="" height="300", width="300">
<img src="data:image/png;base64,{{ data6 }}" alt="" height="300", width="300">
{% endblock %}